{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": false,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-multi-assign": 1,
    "func-names": 1,
    "no-underscore-dangle": 1
  }
}
