{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "browser": false,
    "node": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-underscore-dangle": 0
  }
}
