language: node_js
node_js:
  - '10'

services:
  - redis-server

after_success:
  - npm run lint
  - npm run coveralls

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: use-eslint

notifications:
  email:
    on_success: never
    on_failure: always
  on:
    branch: master

cache:
  directories:
    - node_modules
